doctype html
html(lang="en")
  head
    title= product.name
    link(rel="stylesheet" href="/css/main.css")
  body
    include ../includes/topbar.pug
    .container
      .product-detail
        .image-container
          img(src=product.imageUrl, alt=product.name, class="product-detail-image")
        .info-container
          h1.product-titledetail= product.name
          p.description= product.description
          p.product-price Prix : €#{product.price}
          if product.availability
            p.status Disponibilité : En stock
          else
            p.status Disponibilité : Indisponible
          form(action="/cart/add" method="POST")
            input(type="hidden" name="productId" value=product._id)
            input(type="hidden" name="productName" value=product.name)
            input(type="hidden" name="productPrice" value=product.price)
            .quantity
              label(for="quantity") Quantité :
              input#quantity(type="number" name="quantity" value="1" min="1")
            button(type="submit" class="add-to-cart-btn") Ajouter au panier
    include ../includes/footer.pug