doctype html
html(lang="en")
  head
    title= product.name
    link(rel="stylesheet" href="/css/main.css")
  body
    include ../includes/topbar.pug
    .container
      .product-detail
        .image-container
          img(src=product.imageUrl, alt=product.name, class="product-detail-image")
        .info-container
          h1.product-title= product.name
          p.description= product.description
          p.product-price Prix : €#{product.price}
          if product.availability
            p.status Disponibilité : En stock
          else
            p.status Disponibilité : Indisponible
          .quantity
            label(for="quantity") Quantité :
            button(type="button" class="quantity-btn" id="decrease") -
            input#quantity(type="number" value="1" min="1")
            button(type="button" class="quantity-btn" id="increase") +
          button(type="button" class="add-to-cart-btn") Ajouter au panier
    include ../includes/footer.pug