doctype html
html(lang="en")
  head
    title= product.name
    link(rel="stylesheet" href="/css/main.css")
  body
    include ../includes/topbar.pug
    .container
      .product-detail
        img(src=product.imageUrl alt=product.name class="product-image")
        h1= product.name
        p.description= product.description
        p.price Prix : €#{product.price}
        if product.availability
          p.status Disponibilité : En stock
        else
          p.status Disponibilité : Indisponible
        .quantity
          label(for="quantity") Quantité :
          button(type="button" class="btn btn-secondary quantity-btn" id="decrease") -
          input#quantity(type="number" value="1" min="1")
          button(type="button" class="btn btn-secondary quantity-btn" id="increase") +
        button(type="button" class="btn btn-primary mt-3") Ajouter au panier
    include ../includes/footer.pug